<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/013/923/543/original/blue-car-logo-png.png" sizes="70x70" type="image/ico">
    <link rel='stylesheet' href='/public/css/style.css' />
    <link rel='stylesheet' href='/public/css/viewPost.css' />
    <link rel='stylesheet' href='/public/css/flashMessages.css' />
    <link rel='stylesheet' href='/public/css/profile.css' />
    <link rel='stylesheet' href='/public/css/navBar.css' />
    <script defer src="/public/js/fetch.js"></script>
    <script defer src="/public/js/validation.js"></script>
  </head>
  <body>
      {{> navHeader}}
    {{#if (nonEmptyObject messages)}}
      {{>flashmessage this}}
    {{/if}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
