<main id="maincontent">
  <body class="loginPage">
    <form id="login" onsubmit="return validateForm()" method="POST" action="/users/login">
      <div class="container">
        <h1 class="registerTitle">Login</h1>
        <br><h2 class="pageHeader">
        </h2><br>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <a href="/register">Create an Account</a> <br>
      </div>
      <button type="submit" class="loginbtn">Login</button>
    </form>
  </body>
</main>
