<main id="maincontent">
  <body class="postPage"></body>
  <div class="post">
    <section class="postcontainer">
      <h1 class="postTitle">Post Video</h1>
      <form action="/posts/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title"> Title: </label>
          <input type="text" id="title" name="title" required />
        </div>
        <div class="form-group">
          <label for="description"> Description: </label>
          <textarea id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="video"> Video: </label>
          <input type="file" id="video" name="uploadVideo" accept="video/*" required />
        </div>
        <div class="form-group">
          <label for="policy">I accept the Acceptable Use Policy: </label>
          <input type="checkbox" id="policy" name="policy" required />
          <a href="policy"> Acceptable Use Policy </a>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </section>
  </div>
</main>
