.commentSection {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: center;
    padding: 5px 35px;
    border-color: black;
  }
  
  .commentSection textarea{
    width: 100%;
  }
  
  .commentSection p{
    padding-left: 3%;
  }
  
  .viewPage section {
    margin-bottom: 20px;
  }

  .video-container {
    max-width: 1000px;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-left: -20px;
  }

  .comment-button {
    background-color: lightblue;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
  }
  
  .comment-button:hover {
    background-color: #007bff;
  }
  

  .commentSection.hidden {
    display: none;
  }
  
  .commentTextfield {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .commentTextfield textarea {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
    height: 100px;
    box-sizing: border-box;
  }
  
  .commentTextfield textarea:focus {
    outline: none;
    border-color: #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
  }
  